<head>
  <meta charset="UTF-8">
  <title>TechBlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="hero is-primary">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <h3 class="navbar-item">Home</h3>
        <h3 class="navbar-item">Dashboard</h3>
        <h3 class="navbar-item">Login</h3>
        <h3 class="navbar-item">Logout</h3>
      </nav>
      <h2 class="title">The Tech Blog</h2>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>