<head>
  <meta charset="UTF-8">
  <title>TechBlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="hero is-dark">
      <h2 class="title">The Tech Blog</h2>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <a href="/"><h3 class="navbar-item">Home</h3></a>
        <a href="/profile"><h3 class="navbar-item">Dashboard</h3></a>
        {{#if logged_in}}
        <a><h3 class="navbar-item" id="logout-btn">Logout</h3></a>
        {{else}}
        <a href="/login"><h3 class="navbar-item">Login</h3></a>
        {{/if}}
      </nav>
      
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
    {{#if logged_in}}
    <footer class="footer">
      <h1 class="content has-text-centered">You are currently logged in!</h1>
    </footer>
  <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>