<div class="menu-container">
  <div class="card-header col-md-10">
  </div>
    <div>
      {{#each blogPostData as |post|}}
      <section class="section message is-dark">
        <a href="/blog/{{post.id}}" id="blog-link"><h3 class="title message-header">{{post.title}} posted by: {{post.user.name}}</a>
          
        </h3>
        <p class="subtitle message-body">
          {{post.description}}
      </section>
      {{/each}}
    </div>
  </div>
</div>