
<form class="new-blog-post">
  <div class="control">
    <input class="input" id="blog-title" type="text" placeholder="blog title">
  </div>
  <br>
  <div class="control">
    <textarea class="textarea is-hovered" id="blog-content" placeholder="blog content"></textarea>
  </div>
  <br>
  <button class="button is-dark">Add Post</button>
</form>