<div class="menu-container">
  <div class="card-header col-md-10">
  </div>
    <div>
      {{#each blogPostData as |post|}}
      <h3>
        {{post.title}} posted from {{post.user.name}}
      </h3>
      <p>
        {{post.description}}
      </p>
      {{/each}}
    </div>
  </div>
</div>