<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="menu-container">
  <div class="card-header col-md-10">
  </div>
    <div>
      <ol>
        <li>
          Why MVC is so important
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit magni sequi quas eos eius, veritatis laboriosam. Doloremque hic placeat, cum adipisci deleniti dolore, eaque voluptatum, inventore omnis nihil quos natus.</p>
        </li>
        <li>
          Cheese Plate with Spanish Chorizo
        </li>
        <li>
          Fish Tacossds
        </li>
        <li>
          Tropical Fruit Salad
        </li>
        <li>
          Pork Gyoza
        </li>
        <li>
          Yebeg Tibs with Injera Bread
        </li>
        <li>
          Cape Malay Curry
        </li>
      </ol>
    </div>
  </div>
</div>