
<div class="control">
  <input class="input" type="text" placeholder="blog title">
</div>
<br>
<div class="control">
  <textarea class="textarea is-hovered" placeholder="blog content"></textarea>
</div>
<br>
<button class="button is-dark">Add Post</button>