<form class="login-page">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" id="user-login-email" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" id="user-login-password" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-dark">
        Login
      </button>
      </p>
      <br>
      <h4>Don't have an account? <a href="#">Sign up here</a></h4>
  </div>
</form>