<section class="section message is-dark">
  <h2 class="title message-header">{{title}} by: {{user.name}} 
    Posted on {{format_date date_posted}}</h2>
  <p class="subtitle message-body">{{description}}</p>
</section>
<button class="add-reply">Reply</button>
<div id="comment-section"></div>
<button class="add-new-comment hidden"></button>
<script src="/js/comment.js"></script>
